body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e5e5e5;
}

.general {
    background-color:white;
    margin: 64px 50px 50px 50px;
    width: 1400px;
    height: 1024px;
    display: flex;
    /* align-items: start */
}

h1{
    text-align: center;
    font-size: 50px;margin-top: 20px;
    color: #0a3871;
}

/* Div Izquierdo */
.menu {

    display: block;
    margin: 50px 20px 20px 40px;
    text-align: center;
    width: 120px;
    height: max-content;
}

.logo {
    margin-top: 1em auto;
    width: 110px;
    height: auto;
    display: inline;
    text-align: center;
}

.menu_1 {
    display: inline;
    margin-top: 1em;
    width: 110px;
    height: auto;
    display: flex;
    background: white;
}


.logoAlura {
    width: 32px;
    height: 40px;
    /* margin: auto; */
}


/* Div Central */

.central {
    text-align: center;border-color: aqua;
    display: inline-block;
    width: 620px;
    margin-top: 50px;
    margin-right: 20px;
    height: 944px;
}

form {
    margin: 5px;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.textoEntrada {
    display: block;
    background: none;
    padding: 1px;
    margin: 10px;
    width: 680px;
    height: 781px;
    border-radius: 10px;
    border: none;
    font-size: 2em;
    color: #0a3871;
    line-height: 150%;
    text-align: left top;
    resize: none;
}

.textoEntrada::placeholder {
    font-size: 1em;
    color: darkblue;
    vertical-align: top;
    margin: 2em;}

form {
    text-align: left;
}

form img {
    padding-left: 10px;
}


.botones {

    text-align: end;
    width: 680px;
    height: 67;
    margin: auto;
}

.botones_central {
    background-color: white;
    width: 328px;
    height: 67px;
    margin: 10px 0;
    border-radius: 24px;

    font-size: 2em;
}

.botones_central:hover {
    background-color: darkblue;
    color: white;
    transition: 1s;
}


.final {
    background-color: white;
    text-align: center;
    display: inline;
    justify-content: space-between;
    width: 400px;
    margin-left: 100px;
    margin-top: 50px;
    height: 944px;
    border-radius: 32px;
    border-color: blue;
    box-shadow: rgb(192, 192, 192) 1em 1em 1em 1em;
    /* display: none; */
}

.textoFinal {
    display: block;
    border: none;
    border-radius: 25px;
    padding: 28px;
    margin: 10px;
    width: 320px;
    height: 747px;
    font-size: 2em;
    color: #0a3871;
    line-height: 150%;
    text-align: center;
    resize: none;
    display: none;
}

.mensaje_final {
    /* display: none; */
}

.placehold_final {
    padding-top: 150px;
    /* display: none; */
}

.botones_copiar {
    background-color: white;
    width: 328px;
    height: 67px;
    margin: 10px 0;
    border-radius: 24px;
    font-size: 2em;
    display: inline;
    display: none;
}

.botones_copiar:hover {
    background-color: darkblue;
    color: white;
    transition: 1s;
}

footer {
    font-size: 1.5em;
    color: rgb(161, 160, 160);
    padding: 0 5em 1em;
    display: block;
}